
body {
    text-decoration-color: darkgreen;
    background-color: rgb(248, 192, 139);
    text-align: center;
}
img {  
    width: 250px;
    height: 250px;
    }  
p {
    font-size: 40px;
}
li {
    font-size: 30px;
}
button {
    font-size: 20px;
    color:black;
    background-color: white;
}
.fontsize {
    font-size: 20px;
}